<div id="about-container">
  <%= image_tag "breck_peak_6.jpg", alt: "Nathanael Burt at top of Peak 6 in Breckenridge" %>
  <p>My name is Nathanael Burt and I build websites and software applications.</p>

  <p>
    I am a life-long language learner (both those of humans and more recently, those of computers). I grew up speaking
    French, took Spanish classes in college, and translated a book into French for my senior thesis.
  </p>

  <p>
    Upon graduation I began working for a translation company where I wore a lot of hats: from translator to accountant
    to marketer to interim director of operations. After close to two years in the language service industry I decided
    to begin learning to code so that I could do what I love most: build awesome things with language.
  </p>
  <p>I joined <%= link_to "gSchool", "http://gschool.it" %> in March, 2014 and have been coding daily ever since.</p>
</div>